* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-size: cover;
  }

  body {
    font-family: Arial, sans-serif;
    background-color: #222831;
    color: #EEEEEE;
  }

  .hr {
    width: 75%; /* Atur lebar garis sesuai kebutuhan */
    border: 1px solid #fffcfc; /* Warna dan ketebalan garis */
    margin: 50px auto; /* Mengatur margin agar berada di tengah */
    opacity: 10%;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  /* Navbar */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(49, 54, 63, 0.8);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: -60px; 
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 1000;
    transition: top 0.3s ease, opacity 0.3s ease; 
    opacity: 0;
  }

  .navbar.visible {
    top: 0;
    opacity: 1;
  }

  .logo {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #EEEEEE;
  }

  .highlight {
    color: #76ABAE; 
  }

  .nav-links {
    display: flex;
    gap: 20px;
  }

  .navbar .nav-item {
    padding: 10px 20px;
    background-color: rgba(49, 54, 63, 0.8);
    color: #EEEEEE;
    border-radius: 20px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }

  .navbar .nav-item:hover {
    background-color: #76ABAE;
    box-shadow: 0 4px 15px rgba(118, 171, 174, 0.5);
    cursor: pointer;
  }

  .navbar .nav-item a {
    text-decoration: none;
    color:#EEEEEE;
  }


  /* Hero Section */
  .hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    width: 100%;
    background-size: cover;
  }

  #particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: contain;
  }

  .hero-content {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
  }

  .midlight {
    color: hsl(0, 1%, 83%); /* Sesuaikan dengan color palette */
    text-shadow: 0 0 5px #76ABAE, 0 0 10px #76ABAE, 0 0 15px #76ABAE; /* Efek glow */
    animation: glow 1.5s infinite alternate;
}

  .hero-content.show {
    opacity: 1;
    transform: translateY(0);
  }

  .hero-content h1 {
    font-size: 48px;
    color: #EEEEEE;
    margin-bottom: 20px;
  }

  .hero-content h2 {
    font-size: 28px;
    color: #99d3d6;
    margin-bottom: 10px;
  }

  .hero-content p {
    font-size: 18px;
    margin-bottom: 20px;
    color: #EEEEEE;
  }

.animated-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 16px 36px;
  border: 4px solid;
  border-color: transparent;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  color: #76ABAE;
  box-shadow: 0 0 0 2px #76ABAE;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  margin-top: 30px;
}

.animated-button svg {
  position: absolute;
  width: 24px;
  fill: #76ABAE;
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
  right: 16px;
}

.animated-button .arr-2 {
  left: -25%;
}

.animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #e1dede;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: #222831;
  border-radius: 12px;
}

  .animated-button:hover .arr-1 {
    right: -25%;
  }

  .animated-button:hover .arr-2 {
    left: 16px;
  }

  .animated-button:hover .text {
    transform: translateX(12px);
  }

  .animated-button:hover svg {
    fill:#222831;
  }

  .animated-button:active {
    scale: 0.95;
    box-shadow: 0 0 0 4px #76ABAE;
  }

  .animated-button:hover .circle {
    width: 220px;
    height: 220px;
    opacity: 1;
  }


  .goals {
    padding: 50px 0;
    background: #222831;
    background: linear-gradient(270deg,#222831 0%, #31363f 100%);
    background: -webkit-linear-gradient(270deg,#222831 0%, #31363f 100%);
    background: -moz-linear-gradient(270deg,#222831 0%, #31363f 100%);
    text-align: center;
  }

  .goals h2 {
    font-size: 32px;
    color: #EEEEEE;
    margin-bottom: 10px;
  }

  .goals-container {
    display: flex;
    justify-content: space-around;
    padding: 0 50px;
    
  }

  .goal {
    background-color: #222831;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .goal:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  }

  .goal h3 {
    font-size: 24px;
    color: #76ABAE;
    margin-bottom: 10px;
  }

  .goal p {
    font-size: 16px;
    color: #EEEEEE;
  }

  /* Footer */
  .footer {
    background-color: #1d232d;
    text-align: center;
    padding: 20px 0;
    color: #EEEEEE;
  }

  .typing-text {
    font-size: 28px;
    color: #ffffff;
    margin-bottom: 10px;
    white-space: nowrap; 
    overflow: hidden; 
    border-right: 3px solid white; 
    margin-right: 7px
}

/* Hamburger Icon */
.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
  color: #EEEEEE;
}

.hamburger-icon.hidden {
  display: none; /* Sembunyikan hamburger ketika sidebar aktif */
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: rgba(49, 54, 63, 0.9);
  transition: left 0.3s ease;
  padding: 25px;
  z-index: 1001;
}

.sidebar.active {
  left: 0; /* Sidebar muncul */
}

/* -me Me Section */
.about-me {
  text-align: center;
  padding: 50px 20px;
  background: #31363f;
  background: linear-gradient(270deg,#31363f 0%, #222831 80%);
  background: -webkit-linear-gradient(270deg,#31363f 0%, #222831 80%);
  background: -moz-linear-gradient(270deg,#31363f 0%, #222831 80%);
  color: #EEEEEE;
}

a {
  text-decoration: none;
}

.about-me h2 {
  font-size: 18px;
  color: #EEEEEE;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
  margin-top: 40px;
}

.about-me h1 {
  font-size: 36px;
  color: #76ABAE;
  margin-bottom: 30px;
}

.profile-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 20px;
  margin-bottom: 25px;
}

.profile-image-container img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid transparent;
  position: relative;
  z-index: 2;
}

/* Animated Border */
.profile-image-container::before {
  content: '';
  position: absolute;
  width: 204px;
  height: 204px;
  border-radius: 50%;
  background: linear-gradient(49deg, #EEEEEE, #EEEEEE, #76ABAE, #31363F, #222831);
  background-size: 400% 400%;
  animation: animate-border 4s linear infinite;
  z-index: 1;
}


.social-icons {
  display: flex;
  justify-content: center; /* Memusatkan secara horizontal */
  align-items: center; /* Memusatkan secara vertikal */
  flex-wrap: wrap; /* Agar ikon tetap dalam satu baris */
  padding: 10px;
  text-align: center;
}

.social-icons a { 
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3rem; /* Ukuran lebih kecil */
  height: 3rem; /* Ukuran lebih kecil */
  background-color: transparent;
  border: 0.1rem solid #eeeeee4b; /* Ukuran border lebih kecil */
  font-size: 1.5rem; /* Ukuran font lebih kecil */
  border-radius: 50%;
  margin: 0 1rem; /* Margin bisa disesuaikan */
  margin-bottom: 40px;
  transition: 0.3s ease;
  color: #eeeeee4b; 
}

.social-icons a:hover {
  color: #EEEEEE;
  transform: scale(1.2) translateY(-5px); /* Skala lebih kecil */
  background-color: #76ABAE;
  box-shadow: 0  0 20px #76ABAE; /* Ukuran shadow lebih kecil */
}

@keyframes animate-border {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.about-me p {
  font-size: 16px;
  max-width: 600px;
  margin: 0 auto 40px;
  line-height: 1.8;
}

/* Skills Grid */
.skills-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.skill-card {
  background-color: #31363F;
  border-radius: 10px;
  padding: 20px;
  width: 150px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.skill-card:hover {
  transform: translateY(-10px);
}

.skill-card i {
  font-size: 30px;
  margin-bottom: 10px;
}

.skill-card:hover i {
  font-size: 30px;
  margin-bottom: 10px;
  color:#76ABAE;
}

.skill-card h3 {
  font-size: 18px;
  margin-top: 10px;
  color: #EEEEEE;
  cursor: context-menu;
}

/* Section Work Styling */
.work {
  padding: 50px 20px;
  background-color: #222831;
  text-align: center;
  gap: 10px;
}

/* Styling Heading */
.work h2 {
  font-size: 18px;
  color: #EEEEEE;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* Navigation Styling */
.work-nav {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.work-nav a {
  text-decoration: none;
  color: #EEEEEE;
  font-size: 1.2em;
  position: relative;
  transition: color 0.3s ease;
}

.work-nav a.active {
  font-weight: bold;
  color: #76ABAE;
}

.work-nav a.active::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #76ABAE;
  left: 0;
  bottom: -5px;
}

.work-nav a:hover {
  color: #76ABAE;
}

/* Work Content Grid */
.work-content {
  display: grid;
  grid-template-columns: 1fr; /* Satu kolom untuk tampilan mobile */
  gap: 20px;
  width: 90%;
  margin: 0 auto; /* Center grid */
  margin-top: 25px;
  
}

/* Work Items Grid */
.work-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Auto-fill for mobile */
  gap: 20px; /* Space between items */
}

.work-item {
  background-color: #B0B0B0; /* Temp color for demonstration */
  border-radius: 10px; /* Rounded corners */
  overflow: hidden; /* Crop image */
  transition: transform 0.3s; /* Smooth scaling */
  height: 250px; /* Default height for desktop */
}

.work-item:hover {
  transform: scale(1.05); /* Zoom on hover */
}

.work-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Maintain aspect ratio */
  cursor: pointer; /* Change cursor to pointer */
}

/* Modal Styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.8); /* Black with opacity */
  justify-content: center;
  align-items: center;
}

.modal img {
  max-width: 90%; /* Limit max width */
  max-height: 90%; /* Limit max height */
  margin: auto; /* Center the image */
  display: block; /* Make it block element */
}

/* Fade Animation */
.fade {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.fade-in {
  opacity: 1;
}



@media only screen and (min-width: 481px) {
  .sidebar {
      display: none; 
  }

  .work {
    padding: 50px 40px; /* Increased padding for desktop */
  }

  .work h2 {
    font-size: 18px;
    color: #EEEEEE;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
  }

  .work h1 {
    font-size: 36px;
    color: #76ABAE;
  margin-bottom: 30px;
  }

  .work-nav {
    gap: 50px; /* Larger gap between nav links */
  }

  .work-nav a {
    font-size: 1.5em; /* Larger font size for desktop nav */
  }

  .work-content {
    width: 80%; /* Wider content area */
  }

  .work-grid {
    grid-template-columns: repeat(2, 1fr); /* Two columns for desktop */
    gap: 30px; /* Increased gap between items */
  }

  .work-item {
    height: 300px; /* Adjusted height for better visibility */
  }
}

@media only screen and (max-width: 480px) {
  .hero-content h1 {
    font-size: 26px;
    color: #EEEEEE;
    margin-bottom: 10px;
  }

  .greeting {
    display: block; 
    font-size: 18px; 
    color: #EEEEEE;
    margin-bottom: 6px;
    text-align: start;
    text-align: center;
}


  .hero-content h2 {
    font-size: 15px;
    color: #99d3d6;
    margin-bottom: 10px;
  }

  .typing-text {
    font-size: 15px;
    color: #EEEEEE;
    margin-bottom: 10px;
    white-space: nowrap; 
    overflow: hidden; 
    border-right: 3px solid white;
    margin-right: 7px
}

.hero-content p {
  font-size: 14px;
  margin-bottom: 20px;
  color: #EEEEEE;
}

.btn {
  padding: 10px 20px;
  background-color: #76ABAE;
  color: #222831;
  text-decoration: none;
  border-radius: 30px;
  font-size: 13px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #EEEEEE;
  color: #222831;
}

.footer {
  background-color: #1d232d;
  text-align: center;
  padding: 15px 0;
  color: #EEEEEE;
  font-size: 12px;
}

  /* Skills Section */
  .goals {
    padding: 50px 0;
    background-color: #31363F;
    text-align: center;
  }

  .goals h2 {
    font-size: 25px;
    color: #EEEEEE;
    margin-bottom: 30px;
  }

  .goals-container {
    display: flex;
    justify-content: space-around;
    padding: 0 50px;
    flex-wrap: wrap;
  }

  .goal {
    background-color: #222831;
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .goal:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  }

  .goal h3 {
    font-size: 24px;
    color: #76ABAE;
    margin-bottom: 10px;
  }

  .skill p {
    font-size: 16px;
    color: #EEEEEE;
  }

  .nav-links {
    display: none; 
  }
  .hamburger {
      display: block; 
  }

/* Nav Links di Sidebar */
.sidebar .nav-links {
  display: flex;
  flex-direction: column; 
}

.sidebar .nav-item {
  margin-bottom: 10px; 
}

.sidebar .nav-item a {
  display: block;
  padding: 20px 20px;
  color: #EEEEEE;
  text-decoration: none; 
  transition: background-color 0.2s ease, transform 0.2s ease, box-shadow 0.2s ease; 
}

.sidebar .nav-item a:hover {
  background-color: rgba(54, 58, 66, 0.507); 
  transform: scale(1.00); 
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3); 
}

.highlight {
  color: #76ABAE; 
}

.sidebar .logo {
  background-color: #222831; 
  margin-bottom: 25px;
  color: #EEEEEE; 
  font-size: 24px; 
  text-align: center; 
  padding: 13px 0; 
  flex: 0 0 auto; 
}

/* Styling untuk Nav Item */
.sidebar {
  padding: 0;
  width: 130px;
}

.hero-content p {
  width: 80%;
}

.animated-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 11px 26px;
  border: 4px solid;
  border-color: transparent;
  font-size: 14px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  color: #76ABAE;
  box-shadow: 0 0 0 2px #76ABAE;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button svg {
  position: absolute;
  width: 17px;
  fill: #76ABAE;
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
  right: 16px;
}

.animated-button .arr-2 {
  left: -25%;
}

.animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #e1dede;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: #222831;
  border-radius: 12px;
}

.animated-button:hover .arr-1 {
  right: -25%;
}

.animated-button:hover .arr-2 {
  left: 16px;
}

.animated-button:hover .text {
  transform: translateX(12px);
}

.animated-button:hover svg {
  fill: #222831;
}

.animated-button:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px #76ABAE;
}

.animated-button:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}

.social-icons {
  display: flex;
  justify-content: center; /* Memusatkan secara horizontal */
  align-items: center; /* Memusatkan secara vertikal */
  flex-wrap: wrap; /* Agar ikon tetap dalam satu baris */
  padding: 0;
}

.social-icons a { 
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem; /* Ukuran lebih kecil */
  height: 2.5rem; /* Ukuran lebih kecil */
  background-color: transparent;
  border: 0.1rem solid #eeeeee4b; /* Ukuran border lebih kecil */
  font-size: 1.2rem; /* Ukuran font lebih kecil */
  border-radius: 50%;
  margin: 0 1rem; /* Margin bisa disesuaikan */
  margin-bottom: 20px;
  transition: 0.3s ease;
  color: #eeeeee4b; 
}

.social-icons a:hover {
  color: #EEEEEE;
  transform: scale(1.2) translateY(-5px); /* Skala lebih kecil */
  background-color: #76ABAE;
  box-shadow: 0  0 20px #76ABAE; /* Ukuran shadow lebih kecil */
}

.work {
  padding: 20px 40px; /* Increased padding for desktop */
}

.work h2 {
  font-size: 18px;
  color: #EEEEEE;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.work h1 {
  font-size: 29px;
  color: #76ABAE;
  margin-bottom: 30px;
}

.work-nav {
  flex-direction: column; /* Stack navigation links */
  margin-bottom: 5px;
}

.work-item {
  height: 150px; /* Reduced height for mobile */
}


}


  @keyframes glow {
    0% {
        text-shadow: 0 0 5px #76ABAE, 0 0 10px #76ABAE, 0 0 15px #76ABAE;
    }
    100% {
        text-shadow: 0 0 5px #76ABAE, 0 0 20px #0ea7ff, 0 0 40px #76ABAE;
    }
}